<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- RangeSlider library -->
    <link rel="stylesheet" type="text/css" href="http://propeller.in/components/range-slider/css/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="http://propeller.in/components/textfield/css/textfield.css">
    <link rel="stylesheet" type="text/css" href="http://propeller.in/components/checkbox/css/checkbox.css">
    <link rel="stylesheet" type="text/css" href="http://propeller.in/components/range-slider/css/range-slider.css">
    <link href="~/Content/rangeSlider.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <main>
            <nav>
                <div class="logo">
                    <i class="fa fa-code" aria-hidden="true"></i>
                </div>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Pages</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <div class="activity">
                    <a href="" class="activity-item">
                        <img src="/Public/Logo/iconfinder_-_Magnifier-Search-Zoom-_3844467.svg" alt="" srcset="">
                    </a>
                    <a href="" class="activity-item">
                        <img src="/Public/Logo/iconfinder_about_4092564.svg" alt="" srcset="">
                    </a>
                    <a href="" class="activity-item">
                        <img src="/Public/Logo/iconfinder_Essentials_shopping_cart_5298755.svg" alt="" srcset="">
                    </a>

                </div>
            </nav>
            @RenderBody()
        </main>
    </header>
    <footer>
    </footer>
    <!-- Jquery js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Slider js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://propeller.in/components/range-slider/js/wNumb.js"></script>
    <script src="http://propeller.in/components/range-slider/js/nouislider.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Script.js"></script>
</body>
</html>